.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px; }

.button--8 {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.1em;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out; }
  .button--1:hover, .button--1 .button__bg:hover, .button--2:hover, .button--4:hover, .button--4 .button__bg:hover, .button--5:hover, .button--6:hover, .button--7:hover, .button--8:hover, .button--9:hover, .button--10:hover {
    background-color: #2CD892;
    color: #fff; }
  .button--1:focus, .button--1 .button__bg:focus, .button--2:focus, .button--4:focus, .button--4 .button__bg:focus, .button--5:focus, .button--6:focus, .button--7:focus, .button--8:focus, .button--9:focus, .button--10:focus {
    outline: none;
    color: #fff; }

.safari .button, .safari
.button__bg {
  -webkit-filter: none !important;
  filter: none !important; }

.button--8 {
  position: relative;
  z-index: 1;
  outline: 10px solid #F6F6F6 !important;
  background: #F6F6F6;
  border: 2px solid #000;
  color: #000; }
  .button--8:focus {
    color: #222; }
  .button--8:hover {
    background: #F6F6F6;
    border-color: #2CD892;
    color: #2CD892; }
