/****** GENERAL ******/
body {
	background-color: #FCEF40;
	color: #cecece;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/****** GENERAL ******/

/****** ANIMACION HEADER ******/
.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FF2D5F;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--8 {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.1em;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}
 
.button--8:focus {
    outline: none;
    color: #fff;
}

.safari .button, .safari
.button__bg {
  -webkit-filter: none !important;
  filter: none !important;
}

.button--8 {
    position: relative;
    z-index: 1;
    outline: 10px solid #FCEF40 !important;
    background: #FCEF40;
    border: 2px solid #FF2B5E;
    color: #FF2B5E;
}

.button--8:focus {
    color: #222;
}

.button--8:hover {
    background: #FCEF40;
}
/****** ANIMACION HEADER ******/

/****** MEDIA QUERIES ******/
@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}
/****** MEDIA QUERIES ******/