/****** GENERAL ******/
body {
	background-color: #FCEF40;
}
/****** GENERAL ******/

/****** ANIMACION HEADER ******/
.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FF2D5F;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title, 
.demo-3 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

/****** ANIMACION HEADER ******/

/****** MEDIA QUERIES ******/
@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}
/****** MEDIA QUERIES ******/