/***** GENERAL ******/
body {
	background-color: #FCEF40;
	color: #cecece;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/****** GENERAL ******/

/****** ANIMACION HEADER ******/
.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FF2D5F;
	text-align: center;
	top: 43%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #FF2D5F;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}


.demo-1 .main-title {
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--8 {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.1em;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}
 
.button--8:focus {
  outline: none;
  color: #fff;
}

.safari .button, .safari
.button__bg {
  -webkit-filter: none !important;
  filter: none !important;
}

.button--8 {
  position: relative;
  z-index: 1;
  outline: 10px solid #FCEF40 !important;
  background: #FCEF40;
  border: 2px solid #FF2B5E;
  color: #FF2B5E;
}

.button--8:focus {
  color: #222;
}

.button--8:hover {
  background: #FCEF40;
}
/****** ANIMACION HEADER ******/

/****** MENU ******/
.showLeftPush {
  position: fixed;
  z-index: 9999;
  background: transparent;
  color: #FF2D5F;
  display: block;
  padding: 0px;
  height: 50px;
  width: 50px;
  top: 50px;
  right: 95px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  border-radius: 30px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1);
  line-height: 42px;
  border: 4px solid;
}

.showLeftPush.active{
  background: #FFF !important;
  color: #FF2D5F !important;
}

.showLeftPush02 {
  background: transparent;
  color: #FF2D5F !important;
  margin: auto;
  height: 50px;
  width: 50px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  border-radius: 30px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1);
  line-height: 42px;
  border: 4px solid;
}

.MenuJoseRDG {
  margin: 150px 0 0;
}

#showLeft:before {
  content: "\f0c9";
}

#showLeft.active:before {
  content: "\f00d";
}

.TitlesMokana {
  text-indent: -9999px;
  width: 100%;
  height: 215px;
  display: block;
  margin: 40vh auto;
  position: absolute;
  right: 0;
  left: 0;
}

/* General styles for all menus */
.cbp-spmenu {
  background: #ffffff;
  position: fixed;
}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #FF2D5F;
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 45, 95, 0.4);
}

.cbp-spmenu .MenuJoseRDG a:hover,
.MenuJoseRDG .menuactive {
  text-decoration: none;
  background: #FF2D5F;
  color: #FFF;
}

.cbp-spmenu > a:hover {
  background: transparent !important;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  padding: 1em;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
  top: -150px;
}

.cbp-spmenu-bottom {
  bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/****** MENU ******/

/****** REDES ******/
#redes-menu {
  margin: 0 auto;
  width: 165px;
}

.redes {
  width: 72px;
  /*height: 45px;*/
  float: left;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.redes:hover {
  border-radius: 28px;
  text-decoration: none;
  background: #FF2D5F;
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.text-hidden {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
}
/****** REDES ******/

.g-recaptcha .rc-anchor-light {
  background: #FCEF40 !important;
  border: 1px solid #FF2B5E !important;
}

.g-recaptcha .rc-anchor-logo-text {
  color: #000000 !important;
}

.g-recaptcha .rc-anchor-pt a:link, .rc-anchor-pt a:visited {
  color: #000000 !important;
}

.g-recaptcha > div {
  margin: 0 auto;
}
/****** MEDIA QUERIES ******/
@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 2em;
	}
}

@media screen and (max-width: 55.1875em){
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}

@media screen and (max-height: 26.375em){
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/****** MEDIA QUERIES *****