.ch-azul {
	background-color: #103754;
}


.logo {
    height: 85px;
}

.ch_row{
    background-blend-mode: multiply;
    background-image: url(../img/bg_textura.jpg);
    background-color: #0071BC;
}

.ch_px_hi {
	overflow: hidden;

}

.ch_px_bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.ch_pad {
	padding-top: 10%;
    padding-right: 8%;
    padding-bottom: 10%;
    padding-left: 8%;
}