/**** MENU ****/
.menu li {
  margin-right: 30px;
}

.logo.logo-wide {
  max-width: 165px;
}
/**** MENU ****/

/**** SERVICIOS ****/
.item-techser:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
}

.item-techser p,
.TI_HogItems ul li a {
  color:#777777;
}

.HogDIcons {
  width: 250px;
  height: 250px;
}

.TI_HogItems {
  color: #000000;
}

.TI_SerTtitles,
.TI_MaTo10 {
  margin-top: 10px;
}

.TI_OferGrid h6,
.TI_ProduGrid h6 {
  margin-bottom: 10px;
}

.TI_OferGrid .alt-font,
.TI_ProduGrid .alt-font,
.TI_Subti,
.TI_ConAcDiv p a,
.TI_Link,
.TI_Link:hover,
.social-icons li a,
.utility-menu .alt-font i {
  color: #ea434b;
}

.TI_ConAcDiv p a,
.TI_Link {
  text-decoration: underline;
}
.TI_Subti {
  font-weight: 600;
}


.Ti_GridSonos h5,
.TI_GridMara h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}
/**** SERVICIOS ****/

/**** FAQ ****/
.expanding-ul li.active .text-content {
  max-height: 2900px;
}

.TI_Faq h4 {
  font-weight: 600;
  color: #000000;
}
/**** FAQ ****/

/**** FOOTER ****/
footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer a {
  color: #ffffff;
}
/**** FOOTER ****/

/**** SERVICIOS/PRODUCTOS HOME ****/
.TI_HO_servi .project .hover-state {
  background-color: rgba(234, 67, 75, 0.9);
  opacity: 1;
}

.TI_HO_servi .project .hover-state .btn-white:hover {
  color: #b82b2c;
}

.TI_HO_produ .project .hover-state {
	background-color: rgba(23, 24, 25, 0.9);
  opacity: 1;
}

.TI_HO_servi .project .align-vertical,
.TI_HO_produ .project .align-vertical {
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  opacity: 1;
}

.TI_HO_produ .project .hover-state .btn-white:hover {
  color: #000000;
}
/**** SERVICIOS/PRODUCTOS HOME ****/

/**** QUIENES SOMOS ****/
.TI_Row_MaBo20,
.TI_QS_MaBo img,
.TI_Row_MaBo {
  margin-bottom: 20px;
}

.TI_NoMaTop {
  margin-top: 0 !important;
}

.TI_Row_MaBo30 {
  margin-bottom: 30px;
}

.TI_Row_MaBo50,
.item-techser {
  margin-bottom: 50px;
}
/**** QUIENES SOMOS ****/

/**** PUBLICACIONES ****/
.TI_Publi_Ul i,
.TI_HogItems i,
.TI_IconsRed i {
  color:#ea434b;
}

.TI_PuTitle h6,
.TI_PuTitle p,
.TI_Row_MaBo10 {
  margin-bottom: 10px;
}
/**** PUBLICACIONES ****/

/**** CONTACTENOS ****/
.TI_items_con .product-image {
  margin-bottom: 20px;
  margin-top: 40px;
}

.TI_items_con h5 {
  height: 53px;
}

.TI_co_mail,
.TI_MaTo20 {
  margin-top: 20px;
}

.TI_co_info_OP p,
.TI_FonSi18,
.TI_InfoHH p {
 font-size: 18px;
}
/**** CONTACTENOS ****/

/**** GENERAL ****/
.utility-menu .alt-font {
  font-size: 11px;
}
.TI_imgBo {
  border: 5px solid #ea434b;
  border-radius: 50%;
}

.TI_SonosSec {
  background: #f4f4f4 !important;
}

.TI_SonosSinSec {
  background: #ffffff !important;
}

/**** GENERAL ****/

/**** REESCRIBIENDO BOOTSTRAP ****/
a {
  color: #000000;
}

a:focus, a:hover {
  color: #3e4c58;
}

.btn-primary.active, .btn-primary:active,
.btn-primary:focus, .btn-primary:hover,
.open .dropdown-toggle.btn-primary {
  border-color: #9c2329;
}
/**** REESCRIBIENDO BOOTSTRAP ****/


    

