@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

html {
	height: auto;
}

.body {
	font-family: 'Ubuntu', sans-serif;
	background-image: linear-gradient(to right top, #a24ad1, #a24ad1, #be326d, #fb3c26, #ffc951);
	height: 100%;
	padding-top: 3%;
	-webkit-transition:opacity 200ms ease;
	transition:opacity 20ms ease;
	color:#000000;
	line-height: 27px;
	width: 100%;
	height: auto;
    background-attachment: fixed;
    background-size: cover;
    font-size: 20px;
	text-align: left;
	font-weight: 400;
}

a {
	color:#00cefc;	
}

.heading {
	margin: 0 auto;
    padding: 12px 12px 30px 12px;
    border: 3px solid #000;
    background-color: #fff;
    font-size: 29px;
    line-height: 31px;
    font-weight: 700;
    text-align: center;
    max-width: 50%;
    border-bottom: 0;
}

.button {
	cursor: pointer;
    padding: 10px 10px 5px 10px;
    display: inline;
    border: 3px solid #000;
    margin-top: 25px;
    padding-top: 5px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.button:hover {
	background-color: transparent;
    color: #ffffff;
}

.div-block-1 img {
	width: 200px;
}

.div-block {
	text-align: center;
}

.div-block-1 {
	margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.div-block-2 {
	margin: 0 auto;
    margin-bottom: 48px;
    padding: 12px 12px 12px 12px;
    border: 3px solid #000;
    background-color: #fff;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    max-width: 50%;
    text-align: center;
}

.div-block-3 {
	margin: 0 auto;
    text-align: center;
}

.footer {
	bottom: 7px;
	position: absolute;
	font-size:12px;
	line-height: 14px;
	float: left;
	color:black;
	margin-left: 15px;
	margin-right: 40px;
	padding:7px 7px 7px 7px;
	border: 3px solid #000;
	background-color:#fff;
}









